//====================================================================================================
// First View styles
//====================================================================================================
.firstview {
    @include block;
    	&::before {
		content: '';
		position: absolute;
		top: 776px;
		left: -50px;
		background-image: url(../images/vector-left-1.png);
		width: 494px;
		height: 1162px;
	}
	&::after {
		content: '';
		position: absolute;
		top: -240px;
		right: 0px;
		background-image: url(../images/vector-right-1.png);
		width: 508px;
		height: 2168px;
		z-index: -1;
	}
    // .firstview__top
    &__top {
        position: relative;
        text-align: center;
        .toptitle {
            display: flex;
            justify-content: center;
        }
        .powered {
            position: static;
            // right: 160px;
            // top: -6px;
            height: 37px;
            background-color: $color1;
            padding: 8px 16px;
            margin-left: 10px;
            p {
                position: relative;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.35px;
                background: linear-gradient(117deg, #3291FD 0%, #8666FD 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                &::before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: -26px;
                    background-image: url(../images/poligon-arrow.png);
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }
    .top {
        position: relative;
        // .top__title
        &__title {
            position: relative;
            color: $color7;
            font-size: 56px;
            font-style: normal;
            font-weight: 800;
            line-height: 76px;
            margin-bottom: 35px;
        }
        // .top__description
        &__description {
            color: $color8;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 35px;
            span {
                font-weight: 600;
                line-height: 34px;
            }
        }
    }
    // .firstview__bottom
    &__bottom {
        margin-top: 64px;
        text-align: center;
    }
}
