//====================================================================================================
// Header styles
//====================================================================================================
.header {
    width: 100%;
    height: 81px;
    padding: 14px 0;
    background-color: $color1;
}

.container {
		&_flex {
            display: flex;
            align-items: center;
		}
}
.logo {
    a {
    display: flex;
    align-items: center;
        img {
            position: relative;
        }
    }
}
.menu {
    margin-left: 100px;
    @media (max-width: 390px) {
		display: none;
	}
		// .menu__list
		&__list {
            display: flex;
		}
		// .menu__item
		&__item {
            margin-right: 62px;
            &:last-child {
                margin-right: 0;
            }
		}
		// .menu__link
		&__link {
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.35px;
            color: $color6;
		}
}
.auth {
    margin-left: auto;
    @media (max-width: 490px) {
		display: none;
	}
		// .auth__list
		&__list {
            display: flex;
            align-items: center;
		}
		// .auth__item
		&__item {
            margin-right: 36px;
            &:last-child {
                margin-right: 0;
            }
		}
}


.menu-mobile {
    position: relative;
    display: none;
    margin-left: auto;
    @media (max-width: 390px) {
		display: block;
	}
    .burger-nav {
        position: relative;
        width: 32px;
        height: 2px;
        background-color: #0E2333;
        border-radius: 5px;
        &::after {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            width: 32px;
            height: 2px;
            background-color: #0E2333;
            border-radius: 5px;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 8px;
            left: 0;
            width: 32px;
            height: 2px;
            background-color: #0E2333;
            border-radius: 5px;
        }
    }
    .menu__list {
        position: absolute;
        top: 39px;
        right: -33px;
        background-color: #fff;
        width: 100vw;
        height: 200vw;
        z-index: 99999;
        transition: all 500ms ease-in-out;
        display: none;
        .list-top {
            padding-top: 230px;
        }
        .list-bottom {
        }
        &.active {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
}




