//====================================================================================================
// Patterns styles
//====================================================================================================
.patterns {
    position: relative;
    padding: 120px 0;
    background-color: $color1;
    @media (max-width: 1365px) {
		padding: 80px 0 0 0;
        margin-bottom: 80px;
	}
    @media (max-width: 767px) {
		padding: 40px 0 0 0;
	}
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../images/vector-left-2.png);
        width: 700px;
        height: 1196px;
        z-index: -1;
    }
    .container {
        max-width: fit-content;
        width: 1356px;
    }
    .titleblock {
        text-align: center;
		// .titleblock__title
		&__title {
            @media (min-width: 768px) and (max-width: 1365px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            @media (max-width: 767px) {
                text-align: center;
            }
            span {
                @media (max-width: 767px) {
                    background: transparent;
                    color: #0e2333;
                }
            }
		}
		// .titleblock__description
		&__description {
            @media (max-width: 767px) {
                display: none;
            }
		}
    }   
    .dflex {
        padding: 120px 0 0 0;
        justify-content: space-between;
        @media (max-width: 1365px) {
            flex-direction: column;
            padding: 60px 0 0 0;
        }
        @media (max-width: 767px) {
            padding: 0;
            flex-direction: column-reverse;
        }
    }
}
.todolist {
    flex: 0 0 61%;
    @media (max-width: 1365px) {
        flex: 0 0 60%;
    }
    @media (max-width: 767px) {
        margin-bottom: 38px;
    }
    // .todolist__item
    &__item {
        display: flex;
        align-items: center;
        border-radius: 2px;
        color: $color7;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 36px;
        @media (max-width: 767px) {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            margin-bottom: 12px;
            display: flex;
            align-items: start;
        }
        &:last-child {
            margin-bottom: 0;
        }
        span {
            display: block;
            text-align: center;
            width: 40px;
            height: 34px;
            border-radius: 6px;
            border: 1px solid $color1;
            box-shadow: 0px 3px 10px 0px #4884F8;
            color: #5040D1;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 34px;
            margin-right: 26px;
            @media (max-width: 767px) {
                width: 32px;
                height: 26px;
                line-height: 25px;
                font-size: 14px;
                margin-right: 16px;
                margin-top: 8px;
            }
        }
        p {
            @media (max-width: 767px) {
                flex: 0 0 80%;
            }
        }
    }
}
.listimg {
    flex: 0 0 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 1365px) {
        flex: 0 0 40%;
        justify-content: center;         
        margin: 60px auto auto auto;
    }
    @media (max-width: 767px) {
        margin-bottom: 30px;
        margin-top: 24px;   
    }
    img {
        width: 550px;
        height: 380px;
        @media (max-width: 1365px) {
            max-height: 480px;
        }
        @media (max-width: 767px) {
            height: auto;
        }
    }
}

