.simplicity {
    @include block;
    .titleblock {
        text-align: center;
        // .titleblock__title
        &__title {
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        // .titleblock__description
        &__description {
        }
    }
    // .simplicity__menu
    &__menu {
        display: flex;
        align-items: center;
        margin-top: 80px;
        @media (max-width: 1366px) {
            flex-wrap: wrap;
            justify-content: center;
        }
     }
    // .simplicity__item
    &__item {
        width: 280px;
        height: 300px;
        padding: 30px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color1;
        border-radius: 10px;
        @media (max-width: 1366px) {
            flex: 0 0 33.999%;
            margin-right: 16px;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media (max-width: 768px) {
            flex: 0 0 100%;
            margin-right: 0px;
        }
        img {
            margin-bottom: 18px;
        }
        p {
            color: $color7;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.container {
}

