.swiper {
    position: static !important;
    width: 1000px;
    height: 440px;
    text-align: center;
}

.swiper-slide {
    img {
        width: 1000px;
        height: auto;
    }
    p {
        margin-top: 20px;
    }
}

.swiper-button-next, .swiper-button-prev {
    width: 44px !important;
    height: 44px !important;
    padding: 10px;
    border-radius: 10px;
    background: $color1;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,300px) !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,300px) !important;
}

.swiper-button-next, .swiper-button-prev {
    top: var(--swiper-navigation-top-offset,480px) !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '' !important;
    background-image: url(../images/icons/slider-arrow-left.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 17.7px;
    height: 13.5px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '' !important;
    background-image: url(../images/icons/slider-arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 17.7px;
    height: 13.5px;
    &:hover {
        background-image: url(../images/icons/slider-arrow-right-hover.svg);
    }
}

// .swiper-button-next {
//     svg {
//     width: 17.7px; 
//     height: 13.5px;
//         &:hover {
//             fill: #696CEF;
//         }
//     }
// }