.swiper {
    position: relative;
    width: 1264px;
    height: 440px;
    text-align: center;
}

.swiper-slide {
    img {
        width: auto;
        height: 340px;
    }
    p {
        margin-top: 20px;
    }
}

.swiper-button-next, .swiper-button-prev {
    width: 44px !important;
    height: 44px !important;
    padding: 10px;
    border-radius: 10px;
    background: $color1;
}

.swiper-button-prev:after {
    content: '' !important;
    background-image: url(../images/icons/arrow-left.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 17.7px;
    height: 13.5px;
}

.swiper-button-next:after {
    content: '' !important;
    background-image: url(../images/icons/arrow-right.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 17.7px;
    height: 13.5px;
    @include transition200;
    &:hover {
        background-image: url(../images/icons/2.png);
    }
}

.swiper-button-prev:hover:after {
    background-image: url(../images/icons/arrow-left-hover.png);
}

.swiper-button-next:hover:after {
    background-image: url(../images/icons/arrow-right-hover.png);
}

.swiper-button-next, .swiper-button-prev {
    top: var(--swiper-navigation-top-offset,30%) !important;
}
