.zoom {
  display: inline-block;
  position: relative;
}

.zoom img {
  display: block;
}

.zoom img::selection {
  background-color: transparent;
}

.fancybox-slide.fancybox-slide--html .fancybox-content {
  padding: 35px;
  max-width: 90% !important;
  height: 95% !important;
}

a[data-fancybox="zoom-gallery-desktop"] {
  cursor: zoom-in;
}

#modal {
  cursor: zoom;
}

.fancybox-slide--html .fancybox-content {
  max-width: 100% !important;
  width: 100%;
  max-width: initial !important;
  cursor: move !important;
}

#modal img {
  width: 100%;
}

span#zoom1 {
  cursor: move;
}