//====================================================================================================
// Testimonials styles
//====================================================================================================
.testimonials {
    @include block;
    &:before {
        content: "";
        position: absolute;
        bottom: -160px;
        left: 0;
        background-image: url(../images/vector-left-3.png);
        width: 700px;
        height: 1196px;
        z-index: -1;
        @media (max-width: 767px) {
            display: none;
        }
    }
    .container {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        @media (max-width: 1365px) {
            flex-direction: column;
        }
        .leftblock {
            flex: 0 0 33%;
            .titleblock {
                &__title {
                    text-align: left;
                }
            }
            @media (max-width: 1365px) {
                flex: 0 0 40%;
            }
            &_desc {
                margin-top: 30px;
                color: $color7;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }
        .rightblock {
            flex: 0 0 46%;
        }
    }
    // .testimonials__menu
    &__menu {
        @media (max-width: 1365px) {
            margin-top: 60px;
        }
    }
    // .testimonials__item
    &__item {
        display: flex;
        margin-bottom: 60px;
        padding: 50px 84px;
        border-radius: 10px;
        border: 3px solid #eaeaff;
        @media (max-width: 767px) {
            flex-direction: column;
            padding: 24px 20px;
            margin-bottom: 16px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .left {
            p {
                color: $color7;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px;
                @media (max-width: 1365px) {
                    font-size: 16px;
                    line-height: 27px;
                }
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
            span {
                display: block;
                color: $color6;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 34px; 
                margin-top: 16px;
                @media (max-width: 1365px) {
                    font-size: 16px;
                    line-height: 27px;
                }
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }
        .right {
            margin-left: 60px;
            @media (max-width: 767px) {
                margin-left: 0px;
                margin-top: 40px;
            }
            img {
                max-width: 90px;
                height: 90px;
                border-radius: 20px;
            }
        }
        
    }
}
.quote {
    width: 32px;
    height: 32px;
    background-image: url(../images/icons//quote.png);
    margin-bottom: 16px;
}
