//<Variables>===============================================================================================
@import "global/variables.scss";
//</Variables>===============================================================================================

//<МИКСИНЫ>===============================================================================================
@mixin block {
	position: relative;
	margin-top: 160px;
	@media (max-width: 1366px) {
		margin-top: 120px;
	}
	@media (max-width: 1365px) {
		margin-top: 80px;
	}
	@media (max-width: 767px) {
		margin-top: 60px;
	}
}
@mixin transition200 {
	transition: all 200ms ease-in-out;
}
//</МИКСИНЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "global/fonts.scss";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Poppins', sans-serif;
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "global/null.scss";

body {
	position: relative;
	font-family: $fontFamily;
	background-color: $color2;
	transition: $transition300;
	&._lock {
		overflow: hidden;
	}
	&.active {
		background-color: #000;
		color: #fff;
	}
}


//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $container + px;
	margin: 0 auto;
	padding: 0 1.25rem;
	@media (max-width: 1365px) {
		max-width: none;
		padding: 0 34px;
	}
	@media (max-width: 767px) {
		max-width: none;
		padding: 0 20px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "partials/popup";
@import "partials/ui";
@import "partials/header";
@import "partials/footer";
@import "partials/firstview";
@import "partials/teams";
@import "partials/solution";
@import "partials/cta";
@import "partials/tools";
@import "partials/patterns";
@import "partials/powerful";
@import "partials/slider";
@import "partials/simplicity";
@import "partials/testimonials";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	overflow: hidden;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
img {
    vertical-align: top;
    max-width: 100%;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

