//<Variables>===============================================================================================
@import "global/variables.scss";
//</Variables>===============================================================================================

//<МИКСИНЫ>===============================================================================================
@mixin block {
	position: relative;
	margin-top: 160px;
	@media (max-width: 1366px) {
		margin-top: 120px;
	}
	@media (max-width: 768px) {
		margin-top: 80px;
	}
	@media (max-width: 320px) {
		margin-top: 60px;
	}
}
@mixin transition200 {
	transition: all 200ms ease-in-out;
}
//</МИКСИНЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "global/fonts.scss";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Poppins', sans-serif;
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "global/null.scss";

body {
	position: relative;
	font-family: $fontFamily;
	background-color: $color2;
	transition: $transition300;
	&._lock {
		overflow: hidden;
	}
	&.active {
		background-color: #000;
		color: #fff;
	}
}


//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $container + px;
	margin: 0 auto;
	padding: 0 1.25rem;
	@media (max-width: 1366px) {
		max-width: none;
		padding: 0 43px;
	}
	@media (max-width: 768px) {
		max-width: none;
		padding: 0 34px;
	}
	@media (max-width: 320px) {
		max-width: none;
		padding: 0 20px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "partials/forms.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "partials/popup";
@import "partials/tippy";
@import "partials/ui";

@import "partials/header";
@import "partials/footer";
@import "partials/firstview";
@import "partials/teams";
@import "partials/solution";
@import "partials/cta";
@import "partials/tools";
@import "partials/patterns";
@import "partials/powerful";
@import "partials/slider";
@import "partials/simplicity";
@import "partials/testimonials";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//</MEDIA Запросы>====================================================================================================
/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
//</MEDIA Запросы>====================================================================================================
