//<Variables>===============================================================================================
@import "global/variables.scss";
//</Variables>===============================================================================================

//<МИКСИНЫ>===============================================================================================
@mixin block {
	position: relative;
	margin-bottom: 140px;
	&:first-child {
		margin-top: 140px;
		@media (max-width: 1365px) {
			margin-top: 80px;
		}
		@media (max-width: 767px) {
			margin-top: 60px;
		}
	}
	@media (max-width: 1365px) {
		margin-bottom: 80px;
	}
	@media (max-width: 767px) {
		margin-bottom: 60px;
	}
}
@mixin transition200 {
	transition: all 200ms ease-in-out;
}
//</МИКСИНЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "global/fonts.scss";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Poppins', sans-serif;
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "global/null.scss";

body {
	position: relative;
	font-family: $fontFamily;
    background-color: #F7F8FC;
	transition: $transition300;
	// -webkit-transition: all 0.5s ease;
	// -webkit-transition-delay: 0.5s;
	// transition: all 0.5s easy;
	// transition-delay: 0.5s; 
	// &._lock {
	// 	overflow: hidden;
	// }
	padding: 0 !important;
	&.active {
		background-color: #000;
		color: #fff;
	}
}


//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $container + px;
	margin: 0 auto;
	padding: 0 1.25rem;
	@media (max-width: 1365px) {
		max-width: none;
		padding: 0 34px;
	}
	@media (max-width: 767px) {
		max-width: none;
		padding: 0 20px;
	}
}

.container-small {
	max-width: $container-small + px;
	margin: 0 auto;
	padding: 0 1.25rem;
	@media (max-width: 1365px) {
		max-width: none;
		padding: 0 34px;
	}
	@media (max-width: 767px) {
		max-width: none;
		padding: 0 20px;
	}
}

.home-s4__wrapper {
	display: none !important;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "partials/popup";
@import "partials/ui";
@import "partials/header";
@import "partials/footer";
@import "partials/firstview";
@import "partials/teams";
@import "partials/solution";
@import "partials/cta";
@import "partials/tools";
@import "partials/patterns";
@import "partials/powerful";
@import "partials/slider";
@import "partials/simplicity";
@import "partials/testimonials";
@import "partials/old-theme.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	overflow: hidden;
}

.single-page {
	margin: 0;
}

.single_content__text {
	p {
		margin-bottom: 12px;
		strong {
			margin: 24px 0 8px 0;
		}
	}
}

#wpadminbar {
	@media screen and (max-width: 600px) {
		position: fixed !important;
	}
}

img {
    vertical-align: top;
    max-width: 100%;
}

#top-lottiefiles-animate {
	width: 1180px;
	margin: 0 auto;
	// svg {
	// 	box-shadow: 0px 6px 60px 0px rgba(121, 146, 189, 0.15);
	// }
}
//===================================================================================================================================


